#playerStats {
  width: 30%;
  height: 10%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 5%;
  left: 5%;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}



@media (max-width: 1100px) {
  #playerStats {
    left: 50%;
    transform: translateX(-50%);
  }
  h1 {
    font-size: 1rem;
  }
}
